<!DOCTYPE>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="../../static/css/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../static/css/css/style.css"/>
    <link href="../../static/css/assets/css/codemirror.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/assets/css/ace.min.css"/>
    <link rel="stylesheet" href="../../static/css/assets/css/font-awesome.min.css"/>
    <script src="../../static/js/jquery-3.5.0.js"></script>

    <script src="../../static/css/assets/js/bootstrap.min.js"></script>
    <script src="../../static/css/assets/js/typeahead-bs2.min.js"></script>
    <script src="../../static/css/assets/js/jquery.dataTables.min.js"></script>
    <script src="../../static/css/assets/js/jquery.dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="../../static/js/H-ui.js"></script>
    <script type="text/javascript" src="../../static/js/H-ui.admin.js"></script>
    <script src="../../static/css/assets/layer/layer.js" type="text/javascript"></script>
    <script src="../../static/css/assets/laydate/laydate.js" type="text/javascript"></script>

    <script type="text/javascript" src="../../static/css/layui/layui.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/layui/css/layui.css"/>
    <title>客户信息管理</title>
</head>

<body>
<div class="page-content clearfix">
    <div id="Member_Ratings">
        <div class="d_Confirm_Order_style">
            <div class="search_style">

                <ul class="search_content clearfix">
                    <li><label class="l_f">客户名称</label><input name="search_name" type="text" class="text_add"
                                                              placeholder="输入客户名称"
                                                              style=" width:400px"/></li>
                    <!--<li><label class="l_f">上传时间</label><input class="inline laydate-icon" id="start" style=" margin-left:10px;"></li>-->
                    <li style="width:90px;">
                        <button type="button" class="btn_search" onclick="search()"><i class="icon-search"></i>查询
                        </button>
                    </li>
                </ul>
            </div>
            <!---->
            <div class="border clearfix">
						<span class="l_f">
        <a href="javascript:ovid()" id="member_add" class="btn btn-warning"><i class="icon-plus"></i>添加新客户</a>
        <button onclick="members_del()" class="btn btn-danger"><i class="icon-trash"></i>批量删除</button>
       </span>
            </div>
            <!---->
            <div class="table_menu_list">
                <table class="table table-striped table-bordered table-hover" id="sample-table">
                    <thead>
                    <tr>
                        <th width="25"><label><input type="checkbox" disabled class="ace"><span class="lbl"></span></label></th>
                        <th width="80">客户名称</th>
                        <th width="80">客户简介</th>
                        <th width="80">所属地区</th>
                        <th width="80">客户类型</th>
                        <th width="80">企业性质</th>
                        <th width="300">企业描述</th>
                        <th width="250">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--一个产品-->
                    {% for p in page %}
                        <tr>
                            <td><label><input value="{{ p.id }}" type="checkbox" class="ace"><span
                                    class="lbl"></span></label></td>
                            <td><u style="cursor:pointer" class="text-primary"
                                   onclick="member_show('{{ p.name }}','{% url 'customer_show' %}','{{ p.id }}','500','600')">{{ p.name }}</u>
                            </td>
                            <td>{{ p.briefinfo }}</td>
                            <td>{{ p.area }}</td>
                            <td>{{ p.type }}</td>
                            <td>{{ p.nature }}</td>
                            <td>{{ p.describe }}</td>
                            <td class="td-manage">
                                <a onclick="member_show('{{ p.name }}','{% url 'customer_show' %}','{{ p.id }}','500','600')"
                                   href="javascript:;" title="查看" class="btn btn-xs btn-success">
                                    <div><img src="images/look.png"
                                              style="width: 17px;height: 17px;margin-right:2px ;"></img>查看
                                    </div>
                                </a>
                                <a title="修改" onclick="member_edit('{{ p.id }}')" href="javascript:;"
                                   class="btn btn-xs btn-info">
                                    <div><img src="images/edit.png"
                                              style="width: 17px;height: 17px;margin-right:2px ;"></img>修改
                                    </div>
                                </a>
                                <a title="删除客户" href="javascript:;" onclick="member_del(this,'{{ p.id }}')"
                                   class="btn btn-xs btn-warning">
                                    <div><i class="icon-trash" style="width: 17px;height: 17px;margin-right:2px ;"></i>删除
                                    </div>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    <!--一个产品-->

                    </tbody>
                </table>
            </div>

            <!--分页处理-->
            <div id="page_select" class="layui-box layui-laypage layui-laypage-default " style="visibility: hidden;">
                <span class="layui-laypage-count">共 {{ num_all }} 条</span>
                {% if page_data.has_previous %}
                    <a href="{{ the_url }}{{ get_split }}p={{ page_data.previous_page_number }}"
                       class="layui-laypage-prev">上一页</a>
                {% else %}
                    <a href="javascript:void(0);" class="layui-laypage-prev layui-disabled">上一页</a>
                {% endif %}

                {% if left_has_more %}
                    <a href="{{ the_url }}{{ get_split }}p=1">1</a>
                    <span class="layui-laypage-spr">…</span>
                {% endif %}

                {% for left_page in left_pages %}
                    <a href="{{ the_url }}{{ get_split }}p={{ left_page }}">{{ left_page }}</a>
                {% endfor %}

                <span class="layui-laypage-curr"><em class="layui-laypage-em"></em><em>{{ current_page }}</em></span>

                {% for right_page in right_pages %}
                    <a href="{{ the_url }}{{ get_split }}p={{ right_page }}">{{ right_page }}</a>
                {% endfor %}


                {% if right_has_more %}
                    <span class="layui-laypage-spr">…</span>
                    <a href="{{ the_url }}{{ get_split }}p={{ num_pages }}">{{ num_pages }}</a>
                {% endif %}

                {% if page_data.has_next %}
                    <a href="{{ the_url }}{{ get_split }}p={{ page_data.next_page_number }}" class="layui-laypage-prev">下一页</a>
                {% else %}
                    <a href="javascript:void(0);" class="layui-laypage-prev layui-disabled">下一页</a>
                {% endif %}

                <a href="{{ the_url }}{{ get_split }}p={{ current_page }}" class="layui-laypage-refresh"><i
                        class="layui-icon layui-icon-refresh"></i></a>

                <span class="layui-laypage-skip">到第<input type="text" min="1" max="{{ num_pages }}" value="1"
                                                          class="layui-input" id="num_page">页
                    <button type="button" class="layui-laypage-btn" id="change2page">确定</button>
                </span>

                <script>
                    let width = $("#page_select").width();
                    let margin_len = Math.ceil((1550 - width) / 2);
                    document.getElementById("page_select").style.marginLeft = margin_len + "px";
                    document.getElementById("page_select").style.visibility = "visible";

                    $("#change2page").click(function () {
                            let num_page = $('#num_page').val();
                            if (num_page < 1 || num_page > {{ num_pages }}) {
                                window.messageBox.show("页数超限");
                                return;
                            }
                            window.location.href = '{{ the_url }}{{ get_split }}p=' + num_page;
                        }
                    )
                </script>
            </div>
        </div>
    </div>
</div>
<!--添加用户图层-->
<div class="add_menber" id="add_menber_style" style="display:none">

    <ul class=" page-content">
        <li><label class="label_name">客户名称：</label><span class="add_name"><input value="" name="name" type="text"
                                                                                 class="text_add"/></span>
            <div class="prompt r_f"></div>
        </li>
        <li><label class="label_name">客户简介：</label><span class="add_name"><input name="briefinfo" type="text"
                                                                                 class="text_add"/></span>
            <div class="prompt r_f"></div>
        </li>
        <li><label class="label_name">所属地区：</label><span class="add_name"><input name="area" type="text"
                                                                                 class="text_add"/></span>
            <div class="prompt r_f"></div>
        </li>
        <li><label class="label_name">客户类型：</label><span class="add_name"><input name="type" type="text"
                                                                               class="text_add"/></span>
            <div class="prompt r_f"></div>
        </li>
        <li><label class="label_name">企业性质：</label><span class="add_name"><input name="nature" type="text"
                                                                                class="text_add"/></span>
            <div class="prompt r_f"></div>
        </li>
        <li><label class="label_name">企业描述：</label><span class="add_name"><textarea name="describe" type="text"
                                                                                    class="text_add"></textarea></span>
            <div class="prompt r_f"></div>
        </li>
    </ul>
</div>
</body>

</html>
<script>
    jQuery(function ($) {
        var oTable1 = $('#sample-table').dataTable({
            "aaSorting": [
                [1, "desc"]
            ], //默认第几个排序
            "bStateSave": true, //状态保存
            "aoColumnDefs": [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                {
                    "orderable": false,
                    "aTargets": [0, 8, 9]
                } // 制定列不参与排序
            ]
        });

        $('table th input:checkbox').on('click', function () {
            var that = this;
            $(this).closest('table').find('tr > td:first-child input:checkbox')
                .each(function () {
                    this.checked = that.checked;
                    $(this).closest('tr').toggleClass('selected');
                });

        });

        $('[data-rel="tooltip"]').tooltip({
            placement: tooltip_placement
        });

        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }
    })
    /*用户-添加*/
    $('#member_add').on('click', function () {
        layer.open({
            type: 1,
            title: '添加新产品',
            maxmin: true,
            shadeClose: true, //点击遮罩关闭层
            area: ['800px', ''],
            content: $('#add_menber_style'),
            btn: ['提交', '取消'],
            yes: function (index, layero) {
                var name = $('input[name="name"]').val()
                var briefinfo = $('input[name="briefinfo"]').val()
                var area = $('input[name="area"]').val()
                var type = $('input[name="type"]').val()
                var nature = $('input[name="nature"]').val()
                var describe = $('textarea[name="describe"]').val()

                var num = 0;
                var str = "";
                $(".add_menber input[type$='text']").each(function (n) {
                    if ($(this).val() == "") {

                        layer.alert(str += "" + $(this).attr("name") + "不能为空！\r\n", {
                            title: '提示框',
                            icon: 0,
                        });
                        num++;
                        return false;
                    }
                });
                if (num > 0) {
                    return false;
                } else {
                    console.log('发送post', name, describe)
                    $.post({
                        'url': '{% url 'customer_manage' %}',
                        'data': {
                            'name': name,
                            'briefinfo': briefinfo,
                            'area': area,
                            'type': type,
                            'nature': nature,
                            'describe': describe,
                            'modify': 'False',   // 用于判定是修改还是添加
                        },
                        'type': 'POST',
                        'success': function (result) {
                            layer.alert('添加成功！', {
                                title: '提示框',
                                icon: 1,
                            });
                            layer.close(index);
                            location.href = '{% url 'customer_manage' %}'
                        }
                    })
                }
            }
        });
    });

    /*用户-查看*/
    function member_show(title, url, id, w, h) {
        console.log('member_show url', url, id)
        layer_show(title, url + '?id=' + id, w, h);
    }

    /*用户-编辑*/
    function member_edit(id) {
        layer.open({
            type: 1,
            title: '修改产品信息',
            maxmin: true,
            shadeClose: false, //点击遮罩关闭层
            area: ['800px', ''],
            content: $('#add_menber_style'),
            btn: ['提交', '取消'],
            yes: function (index, layero) {
                var name = $('input[name="name"]').val()
                var briefinfo = $('input[name="briefinfo"]').val()
                var area = $('input[name="area"]').val()
                var type = $('input[name="type"]').val()
                var nature = $('input[name="nature"]').val()
                var describe = $('textarea[name="describe"]').val()

                var num = 0;
                if (num > 0) {
                    return false;
                } else {
                    console.log('修改', name, id)
                    $.post({
                        'url': '{% url 'customer_manage' %}',
                        'data': {
                            'id': id,
                            'name': name,
                            'briefinfo': briefinfo,
                            'area': area,
                            'type': type,
                            'nature': nature,
                            'describe': describe,
                            'modify': 'True',   // 用于判定是修改还是添加
                        },
                        'type': 'POST',
                        'success': function (result) {
                            layer.alert('修改成功！', {
                                title: '提示框',
                                icon: 1,
                            });
                            layer.close(index);
                            location.href = '{% url 'customer_manage' %}'
                        }
                    })
                }
            }
        });
    }

    /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除该产品信息吗？', function (index) {
            layer.msg('正在删除中...', {
                icon: 1,
                time: 2000
            });
            $.post({
                'url': '{% url 'customer_manage' %}',
                'data': {
                    'id': id,
                    'delete_all': 'False',
                },
                'success': function (result) {
                    console.log('删除成功')
                    location.href = '{% url 'customer_manage' %}'
                }
            })

        });
    }

    function members_del() {
        layer.confirm('确认要删除该产品信息吗？', function (index) {
            ids = []
            $("input[type='checkbox']:checked").each(function (index, item) {
                ids.push(parseInt(item.value))
            });
            layer.msg('正在删除中...', {
                icon: 1,
                time: 2000
            });
            $.post({
                'url': '{% url 'customer_manage' %}',
                'data': {
                    'ids': String(ids),
                    'delete_all': 'True',
                },
                'success': function (result) {
                    console.log('删除成功')
                    location.href = '{% url 'customer_manage' %}'
                }
            })
        });
    }

    laydate({
        elem: '#start',
        event: 'focus'
    });

    // 产品搜索
    function search() {
        var name = $('input[name="search_name"]').val()
        $.get({
            'url': '{% url 'customer_manage' %}',
            'data': {
                'name': name,
                'search': 'True'
            },
            'type': 'GET',
            'success': function (result) {
                console.log('查询成功')
            }
        })
    }
</script>
<script>
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
    })
</script>